<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>
  </head>

  <body> 
    <div class="header clearfix">
      <%= render "shared/topbar" %>
      <%= render "shared/navbar" %>
    </div>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
